*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
     gap: 1.5vmin;
     align-items: center;
     justify-content: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
     gap: 1.5vmin;
     align-items: center;
     justify-content: center;

}
.box{
 height: 18vmin;
 width: 18vmin;
 justify-items: center;
 align-items: center;
 border-radius: 1rem;
 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
 color: #514475;
 font-size: 8vmin;
 background-color: rgb(251, 255, 230);
}
#reset-game{
    padding: 1rem;
    font-size: 20px;
    background-color: rgb(3, 35, 43);
    border-radius: 2rem;
    color: rgb(147, 149, 151);
    border: none;
    display: none;
}
.msg-container{
    color: #2b1f03;
    height: 100vmin;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
#msg{
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
    margin-top: 20%;
}
#new-btn{
    padding: 1rem;
    font-size: 20px;
    background-color: rgb(3, 35, 43);
    border-radius: 2rem;
    color: rgb(147, 149, 151);
    border: none;
}
.hide{
    display: none;
}
#menu{
    font-size: 20px;
    height: 25px;
    width: 50px;
    display: flexbox;
    margin-right: 100%;

}
#menu button{
    margin-top: 25%;
    font-weight: 700;
    margin-left: 25px;
}
.help{
    height:25px ;
    width: 40px;
}

#help-btn{
    padding: 10px 20px;
    font-size: 16px;
}

.help-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 300px;
    text-align: center;
  }
  
  #help-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

#start{
    margin-top: 40vh;
    padding: 1rem;
    height: 100px;
    width: 250px;
    background-color: rgb(3, 35, 43);
    border-radius: 3rem;
    color: rgb(147, 149, 151);
    border: none;
    cursor: pointer;
    font-size: 2rem;

   
}
.about-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: none; /* hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .about-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .about-box button {
    margin-top: 15px;
  }
  




